body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 75em;
    padding: 0 1em;
    margin: 0 auto;
    position: relative;
}


$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  // Clip background ke text
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


































